<!DOCTYPE html>
<html>
<head>
    <title>SSH Terminal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 id="hh">SSH Terminal</h1>
    <form id="f1" method="post">
        <label for="ip_address">IP Address:</label>
        <input type="text" name="ip_address" id="ip_address" required>
        <br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="command">Command:</label>
        <input type="text" name="command" id="command" required>
        <br>
        <button type="submit">Execute</button>
    </form>
    <div id="output">
        {% if output %}
            <pre>{{ output }}</pre>
        {% endif %}
        {% if error %}
            <pre>{{ error }}</pre>
        {% endif %}
    </div>
</body>
</html>
